#ring1 {
    left: 10px;
}
#ring2 {
    left: 196px;
}
#ring3 {
    left: 347px;
}

.slot-border {
    position: absolute;

    height: 140px;
    background-color: #7b7f81;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        #c1c7c7 0%,
        #7b7f81 20%,
        #c1c7c7 30%,
        #7b7f81 60%,
        #c1c7c7 100%
    );

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slot1 {
    width: 166px;
    height: 100%;
    background-color: #fff;
}
.slot2 {
    width: 122px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.slot3 {
    width: 310px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    background-color: #fff;
}
.slot-1 {
    width: 174px;
    /* justify-content: ; */
}
.slot-2 {
    width: 139px;
    justify-content: center;
}
.slot-3 {
    width: 318px;
    justify-content: flex-end;
}

.slot-1 img {
    height: 140px;
    width: 166px;
}
